:root {
  --base-color: #ffffff;
  --shadow: #c1c1c1;
}

.App {
}

.Home {
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
  padding: 25px;
  /* background-color: green; */
}

/* HEADER */
Header {
  border: 1px solid white;
  background-color: white;
  box-shadow: 2px 2px 10px 2px var(--shadow);
}

.Header-Contents {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

/* MAPDISPLAY */
.MapDisplay {
  max-width: 1080px;
}

.Map-Container {
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: grey;
  max-width: 1080px;
  height: 400px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

/* DASHBOARD */
.Dashboard {
  margin-top: 25px;
}

.DataBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* DATABLOCK */
.DataBlock {
  border-radius: 20px;
  flex-basis: 30%;
  box-shadow: 5px 5px 5px 0px var(--shadow);
  transition: all 0.3s ease-in-out;
}

.DataBlock:hover {
  background-color: #eeeeee;
  transform: scale(1.05);
}

.DataBlock-Label {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 10px 0px 10px;
  font-size: 25px;
  text-align: center;
}

.DataBlock-Data {
  margin: 0;
  padding: 20px 10px 10px 10px;
  font-size: 55px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .DataBlocks {
    flex-direction: column;
  }
  .DataBlock {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .DataBlock:nth-of-type(1) {
    margin-top: 0px;
  }
  .DataBlock-Label {
    margin-left: 0px;
    margin-right: 0px;
  }
  .DataBlock a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
